@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
    --color-background: #fff9e3;
    --color-foreground: #081126;
    --color-accent: #ea7a53;
}

@layer components {
    .tabs-icon {
        @apply size-12 items-center justify-center;
    }

    .tabs-pill {
        @apply size-12 items-center justify-center rounded-full bg-transparent;
    }

    .tabs-active {
        @apply bg-accent;
    }
}